.bro,
.nebro{
	width: 130px;
	height: 130px;
	display: inline-block;
	overflow: hidden;
}
.photo{
margin-top: -20px;
}
.photo img{
margin-top:-40px;
}
.text{
	text-align: center;
}
.nebro{
float: right;
}
.ch{
        color: red;
}
.ro{
        color: green;
}
.me{
        color:darkorange;
}
.ff{
        color:darkorange;
}
.opera{
        color:red;
}
.safari{
        color:grey;
}
.blue{
        color:DodgerBlue;
}